body{
	background-color: hsl(0, 0%, 25%);
}

h1,h2,h3,h4,h5,h6,p,hr{
	color:hsl(0, 0%, 87%);
}
small{
	color:hsl(64, 100%, 81%);
}
.box-element{
	box-shadow:hsl(0, 0%, 10%) 0 0 16px;
	background-color: rgb(41, 41, 41);
	

	padding: 10px;

	margin:0 0 16px;
}

.thumbnail{
	width: 100%;
	height: 200px;
	border-radius: 0 50px 0 50px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgb(61, 61, 61);
}

.product{
	border-radius: 0 50px 0 50px;
}

.bg-dark{
	background-color: rgb(41, 41, 41)!important;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: inline-block;
	text-align: center;
	color:rgb(12, 12, 12);
	background-color: rgb(224, 203, 79);
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	color:#ececec;
	
	border-radius:0 15px 0 15px;
	
}


.btn-warning{
	
	background-color:  rgb(224, 203, 79);
	border-color:transparent;
}
.btn-outline-secondary{
	color: #ececec;
	border-color:rgb(224, 203, 79);
}
.btn-outline-secondary:hover{
	border-color:rgb(224, 203, 79);
	background:rgb(224, 203, 79);
	color:rgb(41, 41, 41)
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}
.container{
	margin-top: 50px;
}

.product-date{
	display: grid;
	justify-items: self-end;
	align-items:end ;
	margin:0px 0px 0px;
	font-size: medium;
}
.card-body {
	padding:10px;
}
